.darkdiv {
    background-color: #1c1c1c;
    color: #FFFFFF;
  }
  
  .dark-mode a {
    color: #FFFFFF;
  }
  
  .dark-mode button {
    background-color: #FFFFFF;
    color: #1c1c1c;
  }

  .darkdiv {
    background-color: #1c1c1c;
    color: #FFFFFF;
  }
  
  p:hover::before {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    z-index: 1;
  }    