body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #222;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.3);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.LivePrices{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}